[Unit]
Description=SyncBox, A combination of the Config-Server, Web-Interface and Webdav Server
After=network.target remote-fs.target nss-lookup.target httpd-init.service

[Service]
ExecStartPre=/bin/bash -c "while [ -f /home/$USER/.seadrive/data ]; do sleep 10; done"
ExecStart=/bin/bash /usr/bin/syncbox.sh
RestartSec=60
Restart=on-failure

[Install]
WantedBy=multi-user.target
